*{
    margin:0;
    padding:0;
}
.main{
    width: 100%;
    background: linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(images/bg-icon.jpeg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;

}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 10px;
    float: left;
    padding-top: 15px;
}
.logo::first-letter{
    font-size: 50px;
    font-style:italic;
}
.menu{
   width: 400px;
   float: left;
   height: 70px;
    
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style-type: none;
    margin-left: 62px;
    margin-top: 28px;
    font-size: 14px;  
}
ul li a{
    font-family: Arial;
    color: #fff;
    font-weight:bold;
    text-decoration: none;
    /* transition: 0.4s ease-in-out; */
}
ul li a:hover{
    color: #ff7200; 
    
}
.search{
    width: 330px;
    float: left;
   margin-left: 270px;
}
.srch{
    width: 200PX;
    height: 40PX;
    background: transparent;
    border: 1PX solid #ff7200;
    margin-top: 13PX;
    border-right:none;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    float: left;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.btn{
    width: 100px;
    height: 40px;
    font-size: 15px;
    font-weight:bold ;
    background:#ff7200;
    border: 2px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius:5px ;
}
btn:focus{
    outline: none;
}
.srch:focus{
 outline: none;
}
.content{
    width:500px;
    margin-left: 100px;
    margin-top: 150px;   
}
.content h2{
    color: #fff;
    font-size: 2.5em;
    font-weight: bold;
}
.content h1{
    color: #ff7200;
    font-size:2.8em;
    font-weight: bold;
}
.content p{
    color: #fff;
    font-size: 0.8em;
    font-family: Arial;
    text-align: left;
    align-items: left;
    line-height:1.8;
    word-spacing: 2.0;
    padding-top: 5px;
}
.join-us{
    width:150px;
    height:50px;
    margin-top: 20px;
}
.join a{
    text-decoration: none;
}
.join{
    background-color: #ff7200;
    border: 1px solid;
    color: black;
    font-family: Arial;
    font-weight: 100px;
    font-size: 0.9em;
    padding: 7px 40px;
    border-radius: 5px;
}
.form{
    width: 270px;
    height: 380px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: 150px;
    left: 1000px;
    align-items: center;
    border-radius: 8px;
    padding-left: 25px;
}
.form h2{
    width: 220px;
    color: #ff7200;
    background-color: #fff;
    text-align: center;
    margin-left: 15px;
    margin-top: 25px;
    padding: 2px;
    font-size: 22px;
    font-family: sans-serif;
    border-radius: 10px;
}
.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #fff;
    font-family: Arial;
    font-size:15px;
    letter-spacing:1px; 
    margin-top: 30px;   
    background-color: none;
   
}
.form input:focus{
    outline: none;
}
::placeholder{
    color: #fff;
    font-family: Arial;
}
.btnn{
    width: 240px;
    height: 40px;
    background-color: #ff7200;
    text-align: center;
    margin-top: 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.4s ease;
    color: #fff;
    font-size: 18px;
}
.btnn:hover{
    background: #fff;
    color: #ff7200;
}
.btnn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top:20px;
    text-align:center;
    color: #fff;
    padding-right: 30px;
}
.form .link a{
    text-decoration: none;
    color: #ff7200;
    text-align: center;
    font-family: sans-serif;
    font-size: 0.8em;  
}
.form .liw{
    color: #fff;
    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    padding-top:15px;
    padding-right: 30px;
}
.icons a{
    text-decoration: none;
    color: #fff;
}
.icons ion-icon{
      color: #fff;
      font-size: 28px;
      padding-left: 15px;
      padding-top: 10px;
      transition: 0.3s ease;
}
.icons ion-icon:hover{
    color: #ff7200;
}
